<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Facebook tutorial</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <style type="text/css">
      /**
       * Hide when Angular is not yet loaded and initialized
       */
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
  </style>
</head>
<body ng-controller="MainCtrl">

  <header class="menu main-menu">
    <h2>Facebook tutorial</h2>
    <ul>
      <li><a href="#/home">Home</a></li>
      <li><a href="#/events">Events</a></li>
    </ul>

    <div class="login-block" ng-cloak>
      <div id="status">{{$rootScope.user}}</div>
      <button id="loginBtn" class="login" ng-click="loginFB()">Log In</button>
      <button id="logoutBtn" class="login" ng-click="logoutFB()">Log Out</button>
    </div>
    
  </header>

  <div class="content main-content" ng-view></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>  

  <script src="app.js"></script>
  <script src="main.js"></script>
  <script src="login/login.js"></script>
  <script src="events/events.js"></script>
  <script src="view2/view2.js"></script>
</body>
</html>
